<div class="dropdown">
    <input
      type="text"
      placeholder="Select dates"
      class="form-control dropdown-toggle"
      id="dateRangePicker"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      readonly
    />
    <div class="dropdown-menu p-3" aria-labelledby="dateRangePicker">
      <div class="row">
        <div class="col-6 ">
          <label for="checkInDate">Check-in</label>
          <input type="date" id="checkInDate"  data-provide=datepicker class="form-control" (change)="onDateChange()" />
        </div>
        <div class="col-6">
          <label for="checkOutDate">Check-out</label>
          <input type="date" id="checkOutDate" class="form-control" (change)="onDateChange()" />
        </div>
      </div>
    </div>
  </div>
  