.container {
  max-width: 800px;
}

.nav-link.active {
  color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.nav-link:hover {
  color: #0056b3;
}

.nav-item {
  transition: background-color 0.3s, color 0.3s;
}

.tab-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tab-content.show {
  opacity: 1;
  transform: translateY(0);
}

.sticky-top{
  z-index: 10 !important;
}