.booking-chart-container {
  max-height: 80vh;
}

  
.room-name-title {
  flex: 0 0 10vw;
  background-color: #EEEDEB;
  border: 1px solid #ddd;
  position: sticky;
  left: 0;
  z-index: 20;
  text-align: center;
  vertical-align: middle;
}

.date-cell {
  min-width: 4rem;
  min-height: 4rem;
  padding: 0.8rem;
  text-align: center;
  border: 0.1rem solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
  color: white;
  z-index: 10;
}

.room-name {
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: #B4B4B8;
  color: white;
}

.sticky-top{
  z-index: 20;
}

.booking-cell {
  min-width: 4vw;
  height: 5vh;
  border: 0.1rem solid #cecbcb;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  background-color: transparent;
  box-sizing: border-box; 

  &.start-of-reservation{
    border-right: none;
  }

  &.middle-of-reservation{
    border: none;
  }

  &.end-of-reservation{
    border-left: none;
  }

  &.arrival-cell {
    border-left: 0.25rem solid #68a969;
    background-color: #a4e2b7;
  }

  &.arrival-cell:hover {
    border-left: 0.25rem solid #4caf50;
    background-color: #82fd8b;
  }

  &.departure-cell {
    border-right: 0.5rem solid #FFCF96;
    background-color: #FFFEC4;
    
  }

  &.departure-cell:hover{
    background-color: #FFFEC4;
  }

  &.selected{
    background-color: #B6E2A1;
  }
}

// .selected {
//   background-color: #79edbb;
//   border-color: #79edbb;
// }



#scrollSentinel {
  height: 1px;
}


.reservation-marker {
  position: absolute;
  height: 70%; 
  background-color: coral; 
  border-radius: 2px; 
  display: inline-block; 
  z-index: 5;
  padding-top: 10%;
  overflow: hidden;
}

