.booking-chart-container {
  max-height: 80vh;
}

  
.room-name-title {
  flex: 0 0 15vw;
  background-color: #EEEDEB;
  border: 1px solid #ddd;
  position: sticky;
  left: 0;
  z-index: 20;
  text-align: center;
  vertical-align: middle;
}

.date-cell {
  min-width: 6vw;
  padding: 0.8rem;
  text-align: center;
  border: 0.1rem solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
  color: white;
  z-index: 10;
}

.room-name {
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: #B4B4B8;
  color: white;
}


.booking-cell {
  min-width: 4vw;
  height: 5vh;
  border: 0.1rem solid #cecbcb;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  background-color: transparent;
  box-sizing: border-box; 
}

.selected {
  background-color: #79edbb;
  border-color: #79edbb;
}

#scrollSentinel {
  height: 1px;
}


.reservation-marker {
  position: absolute;
  // top: 0.8rem; 
  height: 2rem; 
  background-color: coral; 
  border-radius: 2px; 
  display: inline-block; 
  z-index: 5;
}

