


<div class="container-fluid justify-content-center align-items-center">
  
<h1 class="text-center display-1">Planning Chart</h1>

<div class="overflow-auto flex-column position-relative bg-white rounded shadow mt-4 booking-chart-container">
  <!-- <div class="overlay-div"></div> -->
  <table class="table table-bordered">
    <!-- <div #scrollSentinelPrev observeVisibility (visible)="loadPreviousMonth()"></div> -->
    <thead class="sticky-top">
      <tr class="bg-white z-index-10">
        <th class="room-name-title" rowspan="3">Room ID</th>
        <ng-container *ngFor="let month of months">
          <th [attr.colspan]="month.days.length" class="text-center align-middle bg-dark-subtle">
            {{ month.month | date : "MMMM yyyy" }}
          </th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let month of months">
          <ng-container *ngFor="let day of month.days; let last = last">
            <th *ngIf="!last" class="date-cell text-dark">{{ day | date : "dd" }}</th>
            <th *ngIf="last" class="date-cell text-dark">{{ day | date : "dd" }}</th>
          </ng-container>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let month of months">
          <ng-container *ngFor="let day of month.days; let last = last">
            <th *ngIf="!last" class="date-cell text-dark">{{ day | date : "EEE" }}</th>
            <th *ngIf="last" class="date-cell text-dark">{{ day | date : "EEE" }}</th>
          </ng-container>
        </ng-container>
        <div #scrollSentinelNext observeVisibility (visible)="loadNextMonth()"></div>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let room of rooms">
        <td class="room-name"
        >{{ room.roomId }}.{{room.roomName}}</td>
        <ng-container *ngFor="let month of months">
          <ng-container *ngFor="let day of month.days">
            <td
              class="booking-cell"
              [ngClass]="{
                'selected': isSelected(room.roomId, day),
                'start-of-reservation': isStartOfReservation(room.roomId, day),
                'middle-of-reservation': isMiddleOfReservation(room.roomId, day),
                'end-of-reservation': isEndOfReservation(room.roomId, day),
                'cursor-disabled': isNotAvailable(day),
                'arrival-cell': isArrivalCell(room.roomId, day),
                'departure-cell': isDepartureCell(room.roomId, day)
              }"
              [attr.title]="isStartOfReservation(room.roomId, day) || isMiddleOfReservation(room.roomId, day) || isEndOfReservation(room.roomId, day) ? getTooltipText(room.roomId, day) : null"
              (mousedown)="onMouseDown(room.roomId, day, $event)"
              (mouseover)="onMouseOver(room.roomId, day, $event)"
              
              (mouseup)="onMouseUp(room.roomId,day,$event)"
              (mouseout)="onMouseOut()"
            >
            <span
            *ngIf="isStartOfReservation(room.roomId, day)"
            (dblclick)="checkReservation(room.roomId, day, $event)"
            class="reservation-marker text-start ps-2"
            [ngStyle]="getReservationWidthandStatus(room.roomId, day)"
            
          >
            {{ getCustomerNameForReservation(room.roomId, day) }}
          </span></td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

</div>



<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h6><strong>Customer Information</strong></h6>
            <p><strong>Name:</strong> {{ selectedDetail?.customer.firstName }} {{ selectedDetail?.customer.middleName }} {{ selectedDetail?.customer.lastName }}</p>
            <p><strong>Birth Date:</strong> {{ selectedDetail?.customer.birthData | date: 'yyyy-MM-dd' }}</p>
            <p><strong>Phone Number:</strong> {{ selectedDetail?.customer.phoneNumber }}</p>
            <p><strong>Location:</strong> {{ selectedDetail?.customer.city }}, {{ selectedDetail?.customer.state }}, {{ selectedDetail?.customer.country }}</p>
            <p><strong>Pincode:</strong> {{ selectedDetail?.customer.pincode }}</p>
          </div>
          <div class="col-md-6">
            <h6><strong>Reservation Information</strong></h6>
            <p><strong>Check In:</strong> {{ selectedDetail?.reservation.checkIn | date: 'yyyy-MM-dd' }}</p>
            <p><strong>Check Out:</strong> {{ selectedDetail?.reservation.checkOut | date: 'yyyy-MM-dd' }}</p>
            <p><strong>Number of Guests:</strong> {{ selectedDetail?.reservation.numberOfGuests }}</p>
            <p><strong>Total Amount:</strong> {{ selectedDetail?.reservation.totalAmount | currency:'USD' }}</p>
            <p><strong>Amount paid:</strong> {{ selectedDetail?.reservation.paidAmount | currency:'USD' }}</p>
            <p><strong>Due Amount:</strong> {{ selectedDetail?.reservation.dueAmount ? selectedDetail?.reservation.totalAmount - selectedDetail?.reservation.paidAmount : selectedDetail?.reservation.totalAmount | currency:'USD' }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <h6><strong>Payment Information</strong></h6>
            <p><strong>Payment Mode:</strong> {{ selectedDetail?.payment.paymentMode }}</p>
            <p><strong>Payment Date:</strong> {{ selectedDetail?.payment.paymentDate | date: 'yyyy-MM-dd' }}</p>
            <p><strong>Paid Amount:</strong> {{ selectedDetail?.payment.paymentAmount | currency:'USD' }}</p>
          </div>
          <div class="col-md-6">
            <h6><strong>Status</strong></h6>
            <p>
              <strong>Reservation Status:</strong>
              <select class="form-select" (change)="updateStatus(selectedDetail)">
                <option value="Confirmed">Confirmed</option>
                <option value="Check-In">Check-In</option>
                <option value="Checked-Out">Checked-Out</option>
              </select>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>