.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    margin-bottom: 0;
    overflow-x: auto;
  }
  
  .table thead th {
    text-align: center;
  }
  
  .table tbody td {
    vertical-align: middle;
  }
  
  h1 {
    font-weight: 300;
    color: #343a40;
  }
  
  select.form-select {
    border-radius: 5px;
  }
  
  .table-hover tbody tr:hover {
    background-color: #e9ecef;
  }
  
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-row{
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: var(--animation-delay, 0s);
}

.custom-button:hover {
  text-decoration: none !important;
}



.table-responsive {
  -webkit-overflow-scrolling: hidden !important;
  width: 100%;
}

.button-content{
  margin-left: 3rem;
}