<div class="container mt-5">
  <h1 class="text-center mb-4">Booking Details</h1>
  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Location</th>
          <th>Room</th>
          <th>Dew Amount</th>
          <th>Total Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of combinedDetails">
          <td>{{ detail.name }}</td>
          <td>{{ detail.birthData | date: 'yyyy-MM-dd' }}</td>
          <td>{{ detail.checkIn | date: 'yyyy-MM-dd' }}</td>
          <td>{{ detail.checkOut | date: 'yyyy-MM-dd'}}</td>
          <td>{{ detail.locationId }}</td>
          <td>{{ detail.roomId }}</td>
          <td>{{ detail.dueAmount | currency:'USD':true }}</td>
          <td>{{ detail.amount | currency:'USD':true }}</td>
          <td>
            <select [(ngModel)]="detail.status" class="form-select form-select-sm" (change)="updateStatus(detail)">
              <option *ngFor="let status of statuses">{{ status }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
