.banner_area{
    background: #04091e;
    
    
	position: relative;
    z-index: 1;
    .bg-parallax{
        background: url("../../../../public/assets/images/banner_bg.jpg") no-repeat ;
        opacity: 0.50;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
    .position{
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
    }
}

.booking_table{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 5-sm00px;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 125%;
    bottom: 0;
    z-index: -1;
}
.banner_content{
    color: #fff;
    margin-bottom: 94px;
    h6{
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 400;
    }
    h2{
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
    }
    p{
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        padding: 10px 0px 20px;
    }
}

.hotel_booking_table{
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
	display: flex;
    h2{
        font-size: 24px;
        line-height: 30px;
        color: #fff;
        text-transform: uppercase;
    }
}
.boking_table{
    margin-left: -50px;
}
.book_tabel_item{
    .form-group{
        margin-bottom: 0px;
        .input-group{
            position: relative;
            
            .form-control{
                border: 1px solid #2b3146;
                background: transparent;
                border-radius: 0px;
                font-size: 13px;
                line-height: 38px;
                padding: 0px 20px;
                color: #777777;
                z-index: 0;
                &::placeholder{
                    color: #777777;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .input-group-addon{
                background: transparent;
                padding: 0px;
                border: 0px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: #777777;
                z-index: 2;
            }
        }
    }
    .input-group{
        margin-bottom: 10px;
    }
    .nice-select{
        background: transparent;
        border-radius: 0px;
        border: 1px solid #2b3146;
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        color: #777;
        &:after{
            content: "\e874";
            font-family: 'Linearicons-Free';
            font-size: 13px;
            color: #777777;
            border: 0px;
            top: 0;
            margin-top: 0px;
            right: 20px;
            transform: rotate(0);
            transform-origin: 0 0;
        }
    }
}



// cards
$light_blue: #52c5fd;
$dark: #222222;
$yellow: #f3c300;

.accomodation_area{
}
.accomodation_item{
    margin-bottom: 30px;
    .hotel_img{
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 10px;
        img{
            transition: all 0.4s linear;
        }
        .theme_btn{
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%);
            padding: 5px 25px;
            max-width: 128px;
        }
        &:hover{
            img{
                transform: scale(1.19);
            }
        }
    }
    h5{
        font-size: 24px;
        line-height: 28px;
        color: $light_blue;
        font-weight: 600;
        margin-bottom: 0px;
        small{
            font-weight: 300;
            font-size: 14px;
        }
    }
}
.sec_h4{
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: $dark;
    margin-bottom: 0px;
}

.accomodation_two{
    margin-bottom: -40px;
    .accomodation_item{
        margin-bottom: 45px;
    }
}

.book_now_btn{
    width: 100%;
    display: block;
    background: #f3c300;
    color: $dark;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 20px;
}


.button_hover{
    border-radius: 0px;
    position: relative;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    border: 0px;
    display: inline-block;
    text-align: center;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        transform: translateX(-100%);
        z-index: -1;
        background: #f8b100;
        transition: all 0.3s linear;
		opacity: 0;
    }
    &:hover{
        color: #fff;
        &:before{
            transform: translateX(0);
			opacity: 1;
        }
    }
}

.book_now_btn{
    width: 100%;
    display: block;
    background: #f3c300;
    color: $dark;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 20px;
    width: 10rem;
}

.button_hover{
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    border: 0px;
    display: inline-block;
    text-align: center;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        transform: translateX(-100%);
        z-index: -1;
        background: #f8b100;
        transition: all 0.3s linear;
		opacity: 0;
    }
    &:hover{
        color: #fff;
        &:before{
            transform: translateX(0);
			opacity: 1;
        }
    }
}
