<div class="container-fluid mt-2">
    <app-logo></app-logo>

    <div class="container w-100">


       <div class="w-100 d-flex justify-content-center">
        <div class="w-75 bg-white py-4 px-3 border" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; top: -3rem; z-index: 10; position: relative; border-radius: 10px; display:flex; flex-direction: column; align-items: center;">
            <div class="d-flex w-100 align-items-center justify-content-center px-auto" style="gap: 10px">
                <app-location-name  [roomDetailsForFilter]="roomDetailsForFilter" (locationChanged)="onFilterChange($event)"></app-location-name>
                <app-date-range ></app-date-range>
                <app-number-of-guests (guestChanged)="onGuestChange($event)"></app-number-of-guests>
            </div>

            <div class="d-flex w-100 align-items-center justify-content-center" style="gap: 10px">
                <app-number-of-days (priceChanged)="onPriceChanged($event)"></app-number-of-days>
                <app-price></app-price>
                <app-clear-filter-button></app-clear-filter-button>
            </div>
            
           
        </div>
       </div>


        <div class="container">
            <div class="row">
                <div class="col py-3" *ngFor="let room of roomAndRoomStayDetails">
                    <app-room-detail-card-for-home [room]="room"></app-room-detail-card-for-home>
                </div>
            </div>
        </div>
    </div>
</div>