/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 200px !important;
}
  
// .green-snackbar {
//   background: rgb(65, 252, 134);
//   color: white;
// }
// .green-snackbar button {
//   background-color: rgb(65, 252, 134);
//   color: white;
//   border: none;
// }
// .red-snackbar {
//   background: #F44336;
//   color: white;
// }
// .red-snackbar button {
//   background-color: #F44336;
//   color: white !important;
//   border: none;
// }