<mat-dialog-content>
  <!-- Header Section  -->
  <div class="d-flex justify-content-between align-items-center">
    <p class="display-6">Find Rooms</p>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <hr class="bold-hr"/>
  <mat-stepper #stepper>
    <!-- Date Selection Step -->
    <mat-step [stepControl]="dateSelectionGroup" errorMessage="All fields are required.">
      <form [formGroup]="dateSelectionGroup">
        <ng-template matStepLabel>Select your preferred dates</ng-template>
        
        <!-- Conditionally display form if form is invalid or user clicked "Back to Form" -->
        <div *ngIf="!dateSelectionGroup.valid || isEditingRequirements">
          <button (click)="showArrival()">Choose</button>
          <div class="form-container">
            <div class="form-row">
              <div class="form-col">
                <mat-form-field class="input-fields">
                  <mat-label>Choose checkin date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="arrivalDate" [matDatepickerFilter]="isArrivalDateAvailable" (dateChange)="onArrivalDateSelection($event.value)" [readonly]="isSubmitted">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-col">
                <mat-form-field>
                  <mat-label>Choose checkout date</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="departureDate" [matDatepickerFilter]="isDepartureDateAvailable" (dateChange)="onDepartureDateSelection($event.value)" [readonly]="isSubmitted">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-col">
                <mat-form-field>
                  <mat-label>Number of guests</mat-label>
                  <mat-select (selectionChange)="onGuestSelection($event.value)" formControlName="guests" [disabled]="isSubmitted">
                    <mat-option *ngFor="let guest of guestsNumbers" [value]="guest">{{ guest }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Conditionally display table when form is valid and user is not editing -->
        <ng-container *ngIf="dateSelectionGroup.valid && !isEditingRequirements">
          <h3 class="text-center mb-4">Rooms Available</h3>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead class="table-dark">
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Price per person</th>
                  <th>Total Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let room of roomToBeDisplayed | unique: 'roomId'; let i = index" class="table-row" [ngStyle]="{ '--animation-delay': i * 0.1 + 's'}" [ngClass]="{'selected-room': selectedRoom === room}">
                  <td>{{ room.roomName }}</td>
                  <td>{{ room.locationName }}</td>
                  <td>{{ room.pricePerDayPerPerson }}/night</td>
                  <td>{{ calculateTotalPrice(room) }}</td>
                  <td>
                    <button mat-button (click)="selectRoom(room); stepper.next()" [disabled]="isSubmitted">Book Now</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Back to Form Button -->
          <div class="d-flex justify-content-end">
            <button mat-button (click)="editRequirements()">Edit Requirements</button>
          </div>
        </ng-container>
      </form>
    </mat-step>
    

    <!-- Customer Details Step-->
    <mat-step [stepControl]="customerDetailsFormGroup" errorMessage="All fields are required.">
      <form [formGroup]="customerDetailsFormGroup" (ngSubmit)="onCustomerFormSubmit()">
        <ng-template matStepLabel>Fill out customer details</ng-template>
        <div class="row mb-4">
          <label class="form-label">Select Customer</label>
          <select name="customer" id="customer" #customer class="form-control" (change)="onCustomerSelect(customer.value)" [disabled]="isSubmitted">
            <option value="null">New Customer</option>
            <option *ngFor="let customer of customersForDropDown " [value]="customer.customerId">{{ customer.firstName + " " +  customer.middleName + " " + customer.lastName }}</option>
          </select>
        </div>
        <div class="row mb-4">
          <div class="col-md-4">
            <label for="firstName" class="form-label ">First Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="firstName" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('firstName')?.touched && customerDetailsFormGroup.get('firstName')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('firstName')?.errors?.['invalidName'] }}</small>
            </div>
          </div>
          <div class="col-md-4">
            <label for="middleName" class="form-label">Middle Name</label>
            <input type="text" class="form-control" formControlName="middleName" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('middleName')?.touched && customerDetailsFormGroup.get('middleName')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('middleName')?.errors?.['invalidName'] }}</small>
            </div>
          </div>
          <div class="col-md-4">
            <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="lastName" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('lastName')?.touched && customerDetailsFormGroup.get('lastName')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('lastName')?.errors?.['invalidName'] }}</small>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label for="birthDate" class="form-label">Birth Date <span class="text-danger">*</span></label>
            <input type="date" [max]="maxDate" class="form-control" formControlName="birthDate" [readonly]="isSubmitted"/>       
            <div *ngIf="customerDetailsFormGroup.get('birthDate')?.touched && customerDetailsFormGroup.get('birthDate')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('birthDate')?.errors?.['invalidBirthDate'] }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="country" class="form-label">Country <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="country" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('country')?.touched && customerDetailsFormGroup.get('country')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('country')?.errors?.['invalidCountry'] }}</small>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label for="state" class="form-label">State <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="state" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('state')?.touched && customerDetailsFormGroup.get('state')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('state')?.errors?.['invalidState'] }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">City <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="city" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('city')?.touched && customerDetailsFormGroup.get('city')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('city')?.errors?.['invalidCity'] }}</small>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label for="pincode" class="form-label">Pincode <span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="pincode" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('pincode')?.touched && customerDetailsFormGroup.get('pincode')?.errors?.['invalidPincode']">
              <small class="text-danger">{{ customerDetailsFormGroup.get('pincode')?.errors?.['invalidPincode'] }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number <span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="phoneNumber" [readonly]="isSubmitted"/>
            <div *ngIf="customerDetailsFormGroup.get('phoneNumber')?.touched && customerDetailsFormGroup.get('phoneNumber')?.errors?.['invalidPhoneNumber']">
              <small class="text-danger">{{ customerDetailsFormGroup.get('phoneNumber')?.errors?.['invalidPhoneNumber'] }}</small>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button type="submit" matStepperNext [disabled]="customerDetailsFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentDetailsFormGroup">
      <ng-template matStepLabel>Payment</ng-template>
      <!-- <p>Please Confirm Your Booking</p> -->
    
      <!-- Layout for Room Details and Payment Form -->
      <div class="row">
        <!-- Selected Room Details Section (Left Column) -->
        <div class="col-md-6">
          <ng-container *ngIf="selectedRoom; else selectRoomMessage">
            <div class="room-details-card mb-4">
              <div class="card-body">
                <p class="mb-4 display-6">{{ selectedRoom.roomName }}</p>
            
                <div class="row">
                  <div class="detail-item mb-3 col-lg-6">
                    <label class="detail-label">Location:</label>
                    <p class="detail-value">{{ selectedRoom.locationName }}</p>
                  </div>
  
                  <div class="detail-item mb-3 col-lg-6">
                    <label class="detail-label">Number of guests:</label>
                    <p class="detail-value">{{ selectedGuestsNumber }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="detail-item mb-3 col-lg-6">
                    <label class="detail-label">Price per day per person:</label>
                    <p class="detail-value">₹{{ selectedRoom.pricePerDayPerPerson }}</p>
                  </div>

                  <div class="detail-item mb-3 col-lg-6">
                    <label class="detail-label">Stay Duration:</label>
                    <p class="detail-value">{{ reservationDetails.numberOfDays }} Nights</p>
                  </div>
                </div>
            
               <div class="row">
                <div class="detail-item mb-3 col-lg-6">
                  <label class="detail-label">Check-In Date:</label>
                  <p class="detail-value">{{ selectedArrivalDate | date: 'd MMMM y' }}</p>
                </div>
            
                <div class="detail-item mb-3 col-lg-6">
                  <label class="detail-label">Check-Out Date:</label>
                  <p class="detail-value">{{ selectedDepartureDate | date: 'd MMMM y' }}</p>
                </div>
               </div>
          
                <div class="detail-item mb-3">
                  <label class="detail-label">Total Price:</label>
                  <p class="detail-value">₹{{ reservationDetails.totalAmount }}</p>
                </div>
              </div>
            </div>
            
          </ng-container>
    
          <!-- Message to Show if No Room is Selected -->
          <ng-template #selectRoomMessage class="text-center my-auto">
            <p class="text-muted">Please select a room to see the details.</p>
          </ng-template>
        </div>

        <!-- Payment Form Section (Right Column) -->
        <div class="col-md-6">
          <form [formGroup]="paymentDetailsFormGroup" class="custom-form needs-validation" novalidate>
            <div class="container-fluid">
              <!-- Payment Mode -->
              <div class="row mb-3">
                <label for="paymentMode" class="form-label">Payment Mode</label>
                <select id="paymentMode" class="form-select" formControlName="paymentMode" [disabled]="isSubmitted">
                  <option value="" disabled>Select Payment Mode</option>
                  <option value="debitcard">Debit Card</option>
                  <option value="upi">UPI</option>
                  <option value="cash">Cash</option>
                </select>
                <div *ngIf="paymentDetailsFormGroup.get('paymentMode')?.invalid && paymentDetailsFormGroup.get('paymentMode')?.touched" class="text-danger">
                  Payment Mode is required.
                </div>
              </div>
          
              <!-- Paid Amount -->
              <div class="row mb-3">
                <label for="paidAmount" class="form-label">Pay</label>
                <input type="number" class="form-control" id="paidAmount" formControlName="paymentAmount" min="0" (change)="paymentAmountValidator(paymentDetailsFormGroup.get('paymentAmount')?.value)"  [readonly]="isSubmitted" />
                <div *ngIf="paymentDetailsFormGroup.get('paymentAmount')?.invalid && paymentDetailsFormGroup.get('paymentAmount')?.touched" class="text-danger">
                  <span *ngIf="paymentDetailsFormGroup.get('paymentAmount')?.errors?.['required']">Payment Amount is required.</span>
                  <span *ngIf="paymentDetailsFormGroup.get('paymentAmount')?.errors?.['minAmount']">Amount should be at least 10% of the total.</span>
                  <span *ngIf="paymentDetailsFormGroup.get('paymentAmount')?.errors?.['maxAmount']">Amount cannot exceed the total.</span>
                </div>
              </div>
          
              <!-- Due Amount -->
              <!-- <div class="row mb-3">
                <label for="due" class="form-label">Due</label>
                <input type="number" class="form-control" id="due" formControlName="paymentDue" [readonly]="true" />
                <div *ngIf="paymentDetailsFormGroup.get('paymentDue')?.invalid && paymentDetailsFormGroup.get('paymentDue')?.touched" class="text-danger">
                  Due amount is required.
                </div>
              </div> -->
            </div>
          </form>
          
          
          <ng-container *ngIf="!isSubmitted">
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              <button mat-button (click)="submit()">Submit</button>
            </div>
          </ng-container>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <!-- <ng-container *ngIf="!isSubmitted">
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="submit()">Submit</button>
        </div>
      </ng-container> -->
    
      <!-- Invoice Section (Displayed after submission) -->
      <ng-container *ngIf="isSubmitted">
        <div class="container mt-5" id="booking-preview">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card shadow-lg border-0 rounded-3">
               
                <div class="card-body p-5">
                  <h5 class="mb-4 text-primary">Invoice Details</h5>
                  <div class="mb-3">
                    <h6 class="text-secondary">Customer Details:</h6>
                    <p><strong>Name:</strong> {{ customerDetails.firstName }}</p>
                    <p><strong>Phone:</strong> {{ customerDetails.phoneNumber }}</p>
                  </div>
                  <hr />
                  <div class="mb-3">
                    <h6 class="text-secondary">Booking Details:</h6>
                    <p><strong>Booking ID:</strong> {{ reservationDetails.reservationId }}</p>
                    <p><strong>Check-In:</strong> {{ reservationDetails.checkIn | date: 'd MMMM y' }}</p>
                    <p><strong>Check-Out:</strong> {{ reservationDetails.checkOut | date: 'd MMMM y' }}</p>
                    <p><strong>Number of Nights:</strong> {{ reservationDetails.numberOfDays }}</p>
                    <p><strong>Total Amount Paid:</strong> <span class="text-success">{{ paymentDetails.paymentAmount | currency }}</span></p>
                    <p><strong>Total Amount Due:</strong> <span class="text-danger">{{ paymentDetails.paymentDue | currency }}</span></p>
                  </div>
                  <hr />
                  <div class="mb-3">
                    <h6 class="text-secondary">Payment Details:</h6>
                    <p><strong>Payment ID:</strong> {{ paymentDetails.paymentId }}</p>
                    <p><strong>Payment Date:</strong> {{ paymentDetails.paymentDate | date: 'd MMMM y' }}</p>
                    <p><strong>Payment Mode:</strong> {{ paymentDetails.paymentMode }}</p>
                  </div>
                  <div class="text-center mt-4">
                    <button class="btn btn-outline-primary px-5 py-2" (click)="printInvoice()">Download Invoice</button>
                  </div>
                </div>
                <div class="card-footer text-muted text-center py-3">
                  <p>Thank you for choosing our service!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-step>
    
  </mat-stepper>
</mat-dialog-content>
  