<mat-dialog-content>
  <!-- Header Section  -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 mat-dialog-title>Hi</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <hr/>
  <mat-stepper #stepper>
    <!-- Date Selection Step -->
    <mat-step [stepControl]="dateSelectionGroup" errorMessage="Name is required.">
      <form [formGroup]="dateSelectionGroup">
        <ng-template matStepLabel>Select your prefered dates</ng-template>
        <button (click)="showArrival()">Choose</button>
        <div class="form-container">
          <!-- <div class="form-row"> -->
            <div class="form-col">
              <mat-form-field class="input-fields">
                <mat-label>Choose checkin date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="arrivalDate" [matDatepickerFilter]="isArrivalDateAvailable" (dateChange)="onArrivalDateSelection($event.value)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field>
                <mat-label>Choose checkout date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="departureDate" [matDatepickerFilter]="isDepartureDateAvailable" (dateChange)="onDepartureDateSelection($event.value)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field>
                <mat-label>Number of guests</mat-label>
                <mat-select (selectionChange)="onGuestSelection($event.value)" formControlName="guests">
                  @for (guest of guestsNUmbers; track guest) {
                    <mat-option [value]="guest">{{guest}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        <!-- </div> -->
        <ng-container *ngIf="roomsData.length > 0 && selectedGuestsNumber > 0">
          <h3 class="text-center mb-4">Rooms Available</h3>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead class="table-dark">
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Price per night/person</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let room of roomsData; let i = index" class="table-row" [ngStyle]="{ '--animation-delay': i * 0.1 + 's'}"  [ngClass]="{'selected-room': selectedRoom === room}">
                  <td>{{ room.roomName }}</td>
                  <td>{{ room.locationName }}</td>
                  <td>{{ room.pricePerDayPerPerson }}</td>
                  <td>
                    <button mat-button (click)="selectRoom(room); stepper.next()" >Book Now</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <!-- <div class="d-flex justify-content-end fs-5">
          <button mat-button matStepperNext [disabled]="dateSelectionGroup.invalid || selectedRoom === null" >Next</button>
        </div> -->
      </form>
    </mat-step>

    <!-- Customer Details Step-->
    <mat-step [stepControl]="customerDetailsFormGroup" errorMessage="All fields are required.">
      <form [formGroup]="customerDetailsFormGroup" (ngSubmit)="onCustomerFormSubmit()">
        <ng-template matStepLabel>Fill out customer details</ng-template>
        <div class="row mb-4">
          <label class="form-label">Select Customer</label>
          <select name="customer" id="customer" #customer class="form-control" (change)="onCustomerSelect(customer.value)">
            <option value="null">New Customer</option>
            <option *ngFor="let customer of customersForDropDown " [value]="customer.customerId">{{ customer.firstName + " " +  customer.middleName + " " + customer.lastName }}</option>
          </select>
        </div>
        <div class="row mb-4">
          <div class="col-md-4">
            <label for="firstName" class="form-label ">First Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="firstName" />
            <div *ngIf="customerDetailsFormGroup.get('firstName')?.touched && customerDetailsFormGroup.get('firstName')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('firstName')?.errors?.['invalidName'] }}</small>
            </div>
          </div>
          <div class="col-md-4">
            <label for="middleName" class="form-label">Middle Name</label>
            <input type="text" class="form-control" formControlName="middleName" />
            <div *ngIf="customerDetailsFormGroup.get('middleName')?.touched && customerDetailsFormGroup.get('middleName')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('middleName')?.errors?.['invalidName'] }}</small>
            </div>
          </div>
          <div class="col-md-4">
            <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="lastName" />
            <div *ngIf="customerDetailsFormGroup.get('lastName')?.touched && customerDetailsFormGroup.get('lastName')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('lastName')?.errors?.['invalidName'] }}</small>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label for="birthDate" class="form-label">Birth Date <span class="text-danger">*</span></label>
            <input type="date" [max]="maxDate" class="form-control" formControlName="birthDate" />       
            <div *ngIf="customerDetailsFormGroup.get('birthDate')?.touched && customerDetailsFormGroup.get('birthDate')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('birthDate')?.errors?.['invalidBirthDate'] }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="country" class="form-label">Country <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="country" />
            <div *ngIf="customerDetailsFormGroup.get('country')?.touched && customerDetailsFormGroup.get('country')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('country')?.errors?.['invalidCountry'] }}</small>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label for="state" class="form-label">State <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="state" />
            <div *ngIf="customerDetailsFormGroup.get('state')?.touched && customerDetailsFormGroup.get('state')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('state')?.errors?.['invalidState'] }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">City <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="city" />
            <div *ngIf="customerDetailsFormGroup.get('city')?.touched && customerDetailsFormGroup.get('city')?.invalid">
              <small class="text-danger">{{ customerDetailsFormGroup.get('city')?.errors?.['invalidCity'] }}</small>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label for="pincode" class="form-label">Pincode <span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="pincode" />
            <div *ngIf="customerDetailsFormGroup.get('pincode')?.touched && customerDetailsFormGroup.get('pincode')?.errors?.['invalidPincode']">
              <small class="text-danger">{{ customerDetailsFormGroup.get('pincode')?.errors?.['invalidPincode'] }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number <span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="phoneNumber" />
            <div *ngIf="customerDetailsFormGroup.get('phoneNumber')?.touched && customerDetailsFormGroup.get('phoneNumber')?.errors?.['invalidPhoneNumber']">
              <small class="text-danger">{{ customerDetailsFormGroup.get('phoneNumber')?.errors?.['invalidPhoneNumber'] }}</small>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button type="submit" matStepperNext [disabled]="customerDetailsFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentDetailsFormGroup" >
        <ng-template matStepLabel>Payment</ng-template>
        <p>Please Confirm Your Booking</p>
        <!-- Selected Room Details Section -->
       <ng-container *ngIf="selectedRoom">
        <div class="card mb-4">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="selectedRoom.imageSrc" class="img-fluid rounded-start" alt="{{ selectedRoom.roomName }}" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ selectedRoom.roomName }}</h5>
                <p class="card-text"><strong>Location:</strong> {{ selectedRoom.locationName }}</p>
                <p class="card-text"><strong>Price per day per person:</strong> ₹{{ selectedRoom.pricePerDayPerPerson }}</p>
                <p class="card-text"><strong>Number of guest:</strong> {{ selectedGuestsNumber }}</p>
                <p class="card-text"><strong>Check-In Date:</strong> {{ selectedArrivalDate | date: 'dd/MM/yyyy' }}</p>
                <p class="card-text"><strong>Check-Out Date:</strong> {{ selectedDepartureDate | date: 'dd/MM/yyyy' }}</p>
                <p class="card-text"><strong>Stay Duration: {{reservationDetails.numberOfDays}}</strong>  - </p>
                <p class="card-text"><small class="text-muted">Total Price :${{ reservationDetails.totalAmount }}</small></p>
              </div>
            </div>
          </div>
        </div>
       </ng-container>

        <form [formGroup]="paymentDetailsFormGroup" class="custom-form needs-validation" novalidate >
          <div class="container-fluid">
            <div class="row">
              <!-- Payment Mode -->
              <div class="col-md-6 mb-3">
                <label for="paymentMode" class="form-label">Payment Mode</label>
                <select id="paymentMode" class="form-select" formControlName="paymentMode">
                  <option value="debitcard">Debit Card</option>
                  <option value="upi">UPI</option>
                  <option value="cash">Cash</option>
                </select>
              </div>
              <!-- Paid Amount -->
              <div class="col-md-3 mb-3">
                <label for="paidAmount" class="form-label">Paid Amount</label>
                <input type="number" min="0" class="form-control" id="paidAmount" formControlName="paymentAmount" />
              </div>
              <!-- Due -->
              <div class="col-md-3 mb-3">
                <label for="due" class="form-label">Due</label>
                <input type="number" min="0" class="form-control" id="due" formControlName="paymentDue" />
              </div>
            </div>
          </div>
        </form>
      
         <ng-container *ngIf="!isSubmitted">
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="submit()">Submit</button>
          </div>
         </ng-container>
        
      
          <ng-container *ngIf="isSubmitted">
            <div class="container mt-5">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="card">
                    <div class="card-header text-center">
                      <h4>Booking Confirmation</h4>
                    </div>
                    <div class="card-body">
                      <h5 class="mb-4">Invoice Details</h5>
                      
                      <div class="mb-3">
                        <h6>Customer Details:</h6>
                        <p><strong>Name:</strong> {{ customerDetails.firstName }}</p>
                        <p><strong>Phone:</strong> {{ customerDetails.phoneNumber }}</p>
                        
                      </div>
            
                      <div class="mb-3">
                        <h6>Booking Details:</h6>
                        <p><strong>Check-In:</strong> {{ reservationDetails.checkIn | date }}</p>
                        <p><strong>Check-Out:</strong> {{ reservationDetails.checkOut | date }}</p>
                        <p><strong>Number of Nights:</strong> {{ reservationDetails.numberOfDays }}</p>
                        <p><strong>Total Amount Paid:</strong> {{ paymentDetails.paymentAmount | currency }}</p>
                        <p><strong>Total Amount Duw:</strong> {{ paymentDetails.paymentDue | currency }}</p>
                      </div>
            
                      <div class="mb-3">
                        <h6>Payment Details:</h6>
                        <p><strong>Payment Date:</strong> {{ paymentDetails.paymentDate | date }}</p>
                        <p><strong>Payment Mode:</strong> {{ paymentDetails.paymentMode }}</p>
                        <p><strong>Payment ID:</strong> {{ paymentDetails.paymentId }}</p>
                      </div>
            
                      <div class="text-center">
                        <!-- <button class="btn btn-primary"></button> Home</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          
  



        
            
        
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
  